body
  // background-color: grey
  // position: relative
  input
    font-family: 'Roboto', sans-serif
    outline: none
    border-radius: 5px
    border: 2px solid gray
    font-size: 20px
    text-align: center
  margin: 0
  font-family: 'Roboto', sans-serif
  font-size: 36px 
  .wrap
    .numbers
      margin-top: 50px
      display: flex
      justify-content: center
      #aplusb_input
        font-size: 36px
        width: 40px
        height: 35px
        margin: 0px 10px
      .hide
        display: none
      span
        display: block
        padding: 0px 5px
        margin: 0px 10px
        // background-color: orange
        border-radius: 5px
    display: flex
    justify-content: center
    flex-direction: column
    // .numbers
    .scale
      display: flex
      justify-content: center
      margin-top: 100px
      &__img
        #cnvs
          width: 270px
          height: 200px
          border: 1px solid red
          position: absolute
          top: -85px
          left: 36px
          display: none
        .hide
          display: none
        position: relative
        #inputa
          position: absolute
          width: 20px
          height: 20px
          top: -70px
          left: 160px
          &_text
            position: absolute
            font-size: 20px
            width: 20px
            height: 20px
            top: -69px
            left: 166px
        #inputb
          position: absolute
          width: 20px
          height: 20px
          top: -45px
          left: 375px
          &_text
            position: absolute
            font-size: 20px
            width: 20px
            height: 20px
            top: -44px
            left: 381px
        #figure-a, #figure-b
          z-index: 10
          position: absolute          
          border: 2px solid
          border-color: #9C5D7C transparent transparent transparent
        #figure-a
          width: 380px
          height: 190px
          border-radius: 190px 190px 0 0
          left: -19px
          top: -38px
          &_arrow
            position: absolute
            left: 248px
            top: 8px
            width: 7px
            height: 7px
            border-right: 2px solid #9C5D7C
            border-bottom: 2px solid #9C5D7C
            transform: matrix(1.2,0,0.9,1.2,50,0) rotate(20deg)
            border-bottom-right-radius: 3px
        #figure-b
          width: 220px
          height: 110px
          border-radius: 110px 110px 0 0
          left: 274px
          top: -14px   
          &_arrow
            position: absolute
            left: 404px
            top: 8px
            width: 7px
            height: 7px
            border-right: 2px solid #9C5D7C
            border-bottom: 2px solid #9C5D7C
            transform: matrix(1.2,0,0.9,1.2,50,0) rotate(20deg)
            border-bottom-right-radius: 3px 
  #oval
    width: 200px
    height: 100px
    background: red
    border-radius: 100px / 50px
  #sqr
    margin-left: 20px
    margin-top: 20px
    width: 7px
    height: 7px
    border-right: 1.5px solid #9C5D7C
    border-bottom: 1.5px solid #9C5D7C
    transform: matrix(1.1,0,0.9,1.2,50,0) rotate(20deg)
    border-bottom-right-radius: 3px
    // border-radius: 2px
    // border: 2px solid #9C5D7C
    // border: 2px solid transparent
    // transform: skewX(50deg)
    // border-color: transparent transparent transparent 
    // border-radius: 100px
    // border-top-left-radius: 100px
    // border-top-width: 20px


